---
import HeaderButton from "./HeaderButton.astro";
---

<header class="py-8 px-4 mx-auto max-w-xl lg:py-16 lg:px-6 ">
  <div class="mx-auto text-center mb-8 lg:mb-16" >
    <h2 class="mb-4 text-5xl font-extrabold uppercase text-transparent bg-gradient-to-r from-gray-200 via-gray-300 to-green-600 bg-clip-text">
      about &lt;me/&gt;
    </h2>
  </div>
  <HeaderButton/>
  <section
    id="about"
    class="col-span-full global-grid py-48 md:py-96 lg:py-160 space-y-24"
    > 
    
  </section>
</header>

