<!-- <a class="flex-row justify-center  text-white cursor-pointer group-hover:from-teal-300 bg-gradient-to-br from-teal-700 focus:ring-4 focus:outline-none focus:ring-[#1da1f2]/50 font-medium rounded-lg px-3 py-2.5 text-center inline-flex items-center dark:focus:ring-[#1da1f2]/55 mr-2 mb-2 hover:shadow-lg transition-all duration-200 ease-in-out hover:scale-100 scale-90 gap-x-1 opacity-90 hover:opacity-100" href=""> -->
<!---->
<!---->
<!--   <slot name="before"/> -->
<!--   <slot/> -->
<!--   <slot name="after"/> -->
<!-- </a> -->
<div class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-teal-300 to-lime-300 group-hover:from-teal-300 group-hover:to-lime-300 dark:text-white dark:hover:text-gray-900 focus:ring-4 focus:outline-none focus:ring-lime-200 dark:focus:ring-lime-800">
  <a href="" class="flex-row justify-center text-center relative px-3 py-2.5 inline-flex items-center transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0" >
    <slot/>
  </a>
</div>

