<div class="flex justify-between items-center">
  <ul
    class="text-16 lg:flex items-center uppercase md:space-x-24 flex justify-between text-center md:flex-row mx-auto"
  >
    <li
      class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-teal-300 to-lime-300 group-hover:from-teal-300 group-hover:to-lime-300 dark:text-white lg:dark:hover:text-gray-900 focus:ring-4 focus:outline-none focus:ring-lime-200 dark:focus:ring-lime-800"
    >
      <a
        class="relative flex px-5 py-2.5 transition-all ease-in duration-75 bg-neutral-900 text-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0 items-center space-x-3 rtl:space-x-reverse"
        href="/"
        >Home
      </a>
    </li>

    <li
      class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-teal-300 to-lime-300 group-hover:from-teal-300 group-hover:to-lime-300 dark:text-white lg:dark:hover:text-gray-900 focus:ring-4 focus:outline-none focus:ring-lime-200 dark:focus:ring-lime-800"
    >
      <a
        class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-neutral-900 text-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0"
        href="/about"
      >
        About
      </a>
    </li>

    <li
      class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-teal-300 to-lime-300 group-hover:from-teal-300 group-hover:to-lime-300 dark:text-white lg:dark:hover:text-gray-900 focus:ring-4 focus:outline-none focus:ring-lime-200 dark:focus:ring-lime-800"
    >
      <a
        class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-neutral-900 text-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0"
        target="_blank"
        href="https://bard.google.com"
        >Summary
      </a>
    </li>
    <slot />
  </ul>
</div>
